.table{
    margin: auto;
}

ul {
    float:right;
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* overflow: hidden;*/
}

li {
    float: left;
}

li a {
    height: 48px;
    padding: 8px;
    font-size: 20px;
    display: block;
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
    background-color: #CCCCCC;
}

body{
    padding-top: 40px;
}

th{
    text-align: center;
}

th a:hover{
   text-decoration: none;
}

#title{
    font-size: 34px;   
}

.content{
    float:center;
    position: relative;
}

td{
    text-align: center;
}

.title{
    text-align: left;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
