{% load staticfiles %}
<html>
    <head>
        <title>Netflix Wizard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://use.fontawesome.com/b2bb0753f9.js"></script>
        <link rel="stylesheet" href="{% static 'css/nfs.css' %}">
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <a id="title" href="/">Netflix Wizard</a>
            <ul>
                <li><a href="{% url movie_links.everything %}">Home </a></li>
                <li class="dropdown"> 
                 <a href="{% url movie_links.everything %}" class="dropbtn">Top Movies</a>
                <div class="dropdown-content">
                  <a href="{% url movie_links.action %}">Action</a>
                  <a href="{% url movie_links.adventure %}">Adventure</a>
                  <a href="{% url movie_links.animation %}">Animation</a>     
                  <a href="{% url movie_links.biography %}">Biography</a>
                  <a href="{% url movie_links.comedy %}">Comedy</a>
                  <a href="{% url movie_links.crime %}">Crime</a>
                  <a href="{% url movie_links.documentary %}">Documentary</a>
                  <a href="{% url movie_links.drama %}">Drama</a>
                  <a href="{% url movie_links.family %}">Family</a>
                  <a href="{% url movie_links.fantasy %}">Fantasy</a>
                  <a href="{% url movie_links.history %}">History</a>    
                  <a href="{% url movie_links.horror %}">Horror</a>
                  <a href="{% url movie_links.music %}">Music</a>
                  <a href="{% url movie_links.mystery %}">Mystery</a>
                  <a href="{% url movie_links.romance %}">Romance</a>
                  <a href="{% url movie_links.scifi %}">Sci-Fi</a>
                  <a href="{% url movie_links.sports %}">Sports</a>
                  <a href="{% url movie_links.thriller %}">Thriller</a>
                  <a href="{% url movie_links.war %}">War</a>
                  <a href="{% url movie_links.western%}">Western</a> 
               </div>
                </li>
                <li class="dropdown"><a href="">Top Shows</a>
                  <div class="dropdown-content">
                      <a href="{% url show_links.everything %}">All</a>
                      <a href="{% url show_links.action %}">Action</a>
                      <a href="{% url show_links.adventure %}">Adventure</a>
                      <a href="{% url show_links.animation %}">Animation</a>
                      <a href="{% url show_links.comedy %}">Comedy</a>
                      <a href="{% url show_links.crime %}">Crime</a>
                      <a href="{% url show_links.documentary %}">Documentary</a>
                      <a href="{% url show_links.family %}">Family</a>
                      <a href="{% url show_links.fantasy %}">Fantasy</a>
                      <a href="{% url show_links.horror %}">Horror</a>
                      <a href="{% url show_links.music %}">Music</a>
                      <a href="{% url show_links.reality %}">Reality-TV</a>
                      <a href="{% url show_links.war %}">War</a>
                  </div>
                </li>
                <li><a href="{% url 'countries' %}">Countries</a></li>
           </ul>
          </div>
        </nav>

        
            <div class="container extra-pad">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1223706618260587"
     data-ad-slot="3816252550"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83079400-1', 'auto');
  ga('send', 'pageview');

</script>        

    <div class="content">
                {% block content %}
                {% endblock %}
                </div>
              </div>
        <footer class="navbar navbar-bottom centered">
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
            <a href="{% url 'about' %}"> - About - </a>
            <a href="{% url 'contact' %}">Contact</a>
        </footer>     
    </body>
</html>  
