{% load staticfiles %}
<html>
    <head>
        <title>Netflix Wizard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://use.fontawesome.com/b2bb0753f9.js"></script>
        <link rel="stylesheet" href="{% static 'css/nfs.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <a id="title" href="/">Netflix Wizard</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                  <a href="{% url 'movies_main_avg' %}" class="dropbtn">Top Movies</a>
                <div class="dropdown-content">
                  <a href="{% url 'movies_action_avg' %}">Action</a>
                  <a href="{% url 'movies_adventure_avg' %}">Adventure</a>
                  <a href="{% url 'movies_anime_avg' %}">Animation</a>     
                  <a href="{% url 'movies_biography_avg' %}">Biography</a>
                  <a href="{% url 'movies_comedy_avg' %}">Comedy</a>
                  <a href="{% url 'movies_crime_avg' %}">Crime</a>
                  <a href="{% url 'movies_documentary_avg' %}">Documentary</a>
                  <a href="{% url 'movies_drama_avg' %}">Drama</a>
                  <a href="{% url 'movies_family_avg' %}">Family</a>
                  <a href="{% url 'movies_fantasy_avg' %}">Fantasy</a>
                  <a href="{% url 'movies_history_avg' %}">History</a>    
                  <a href="{% url 'movies_horror_avg' %}">Horror</a>
                  <a href="{% url 'movies_music_avg' %}">Music</a>
                  <a href="{% url 'movies_mystery_avg' %}">Mystery</a>
                  <a href="{% url 'movies_romance_avg' %}">Romance</a>
                  <a href="{% url 'movies_scifi_avg' %}">Sci-Fi</a>
                  <a href="{% url 'movies_sports_avg' %}">Sports</a>
                  <a href="{% url 'movies_thriller_avg' %}">Thriller</a>
                  <a href="{% url 'movies_war_avg' %}">War</a>
                  <a href="{% url 'movies_western_avg' %}">Western</a> 
               </div>
                </li>
                <li class="dropdown"><a href="">Top Shows</a>
                  <div class="dropdown-content">
                      <a href="{% url 'shows_all_avg' %}">All</a>
                      <a href="{% url 'shows_action_avg' %}">Action</a>
                      <a href="{% url 'shows_adventure_avg' %}">Adventure</a>
                      <a href="{% url 'shows_anime_avg' %}">Animation</a>
                      <a href="{% url 'shows_comedy_avg' %}">Comedy</a>
                      <a href="{% url 'shows_crime_avg' %}">Crime</a>
                      <a href="{% url 'shows_documentary_avg' %}">Documentary</a>
                      <a href="{% url 'shows_family_avg' %}">Family</a>
                      <a href="{% url 'shows_fantasy_avg' %}">Fantasy</a>
                      <a href="{% url 'shows_horror_avg' %}">Horror</a>
                      <a href="{% url 'shows_music_avg' %}">Music</a>
                      <a href="{% url 'shows_reality_avg' %}">Reality-TV</a>
                      <a href="{% url 'shows_war_avg' %}">War</a>
                  </div>
                </li>
                <li><a href="{% url 'about' %}">About</a></li>
           </ul>
          </div>
        </nav>

        
            <div class="container">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1223706618260587"
     data-ad-slot="3816252550"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83079400-1', 'auto');
  ga('send', 'pageview');

</script>        

    <div class="content">
                {% block content %}
                {% endblock %}
                </div>
              </div>
        <footer class="navbar navbar-bottom centered">
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
            <a href="/">//</a>
            <a href="{% url 'contact' %}">Contact</a>
        </footer>     
    </body>
</html>  
