{% extends 'nfs/base.html' %}

{% block content %}

<h1>{{ pageInfo.title }}</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><a href="{% url pageInfo.rturl %}"> Tomato Rating</a></th>
      <th><a href="{% url pageInfo.imdburl %}">IMDb Rating</a></th>
      <th><a href="{% url pageInfo.mcurl %}">Metascore</a></th>
      <th><a href="{% url pageInfo.avgurl %}">Average</a></th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movies %}
     <tr>
           <td><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.Title }}</a> ({{ movie.Year }})</td>
           <td>{{ movie.tomatoMeter }}</td>
           <td>{{ movie.imdbRating }}</td>
           <td>{{ movie.Metascore }}</td>
           <td>{{ movie.average }}</td>
      </tr>
    {% endfor %} 
{% endblock %}
</table>
