{% extends 'nfs/base.html' %}

{% block content %}
<style>
    .header{
        color: grey;
    }
    table{
        color: grey;
    }

    img {
        height: 120px;
        width: 80px;
    }
    td {
        vertical-align: middle !important;
        font-size: 20px;
    }
    .sorted{
        background-color: rgba(0, 0, 0, 0.075);
    }
    content {
        width: 80% !important!;
    }
   </style>

   <script>
        var alertMessage = '{{ message }}'
       // if (alertMessage) {
         //   alert(alertMessage);
       // }
   </script>

<h1 class="header">{{ pageInfo.title }}</h1>
<h4 class="header" style="color:red">**Tomato ratings are temporarily unavailable. Sorry Everyone!**</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
          <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-btn">
                <div class="fb-share-button" data-href="http://www.netflixwizard.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.netflixwizard.com%2F&amp;src=sdkpreparse">Share</a></div> </div>
</th>
      <th></th>
      <th><a href="{% url pageInfo.rturl %}"> Tomato Rating</a></th>
      <th><a href="{% url pageInfo.imdburl %}">IMDb Rating</a></th>
      <th><a href="{% url pageInfo.mcurl %}">Metascore</a></th>
      <th><a href="{% url pageInfo.avgurl %}">Average <i class="fa fa-sort" aria-hidden="true"></i></a></th>
    </tr>
  </thead>
  <tbody style="vertical-align: middle">
    {% for movie in movies %}
      <tr>
           <td><img class="img-responsive img-rounded" src="{{ movie.Poster }}" alt=""></td>
           <td class="title"><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.Title }}</a> ({{ movie.Year }})</td>
           <td class='{{ sortClass.0 }}'>{{ movie.tomatoMeter }}</td>
           <td class='{{ sortClass.1 }}'>{{ movie.imdbRating }}</td>
           <td class='{{ sortClass.2 }}'>{{ movie.Metascore }}</td>
           <td class='{{ sortClass.3 }}'>{{ movie.average }}</td>
      </tr>
    {% endfor %} 
  </tbody>
</table>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1223706618260587"
     data-ad-slot="3816252550"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}
